<!-- Testimonial 2
 ==============================-->
<section id="counter" class="pricing-section section-padding" data-background="white">
    <div class="container">
        <h1 class="section-title text-uppercase text-center wow fadeInUp" data-wow-delay="0.2s">рассчитать <span>стоимость</span></h1>
        <div class="stripe wow fadeInUp" data-wow-delay="0.2s"></div>
        <div class="section-description text-center wow fadeInUp" data-wow-delay="0.5s">
        </div><!-- /.section-description -->
        <div class="top-padding-80 wow fadeInUp">
            <div class="col-md-12">
                <div class="ctrl-block top-10">
                    <div class="col-md-4" style="padding: 10px;">
                        Количество клиентов
                    </div>
                    <div class="col-md-8">
                        <div class="count-customer">
                            <div class="btn-default btn-control" style="border-radius: 4px 0 0 4px;">
                                -
                            </div>
                            <div>
                                <input class="form-control-1"/>
                            </div>
                            <div class="btn-default btn-control" style="border-radius: 0 4px 4px 0;">
                                +
                            </div>
                        </div>
                        <div class="range-cash cut-off">
                            <input type="range" min="0" max="900" step="1" value="0"> 
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ctrl-block top-10">
                    <div class="col-md-4" style="padding: 10px;">
                        Готовый сайт агенства
                    </div>
                    <div class="col-md-8">
                        <div class="btn-group">
                            <label class="btn-primary" style="background-color: #1ab394; border-radius: 4px; padding: 7px; text-align: center; width: 130px;">
                                Нужен
                            </label>
                            <label class="btn-default" style="background-color: transparent; border-radius: 4px; color: #1ab394; font-weight: 500; padding: 7px; text-align: center; width: 130px;">
                                Не нужен
                            </label>
                        </div>
                        <div class="icheckbox_square-green">
                            <input type="checkbox" />
                            Хочу сайт со своим доменным именем
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ctrl-block top-10">
                    <div class="col-md-4" style="padding: 10px;">
                        Размещение рекламы
                    </div>
                    <div class="col-md-8">
                        <div class="btn-group">
                            <label class="btn-primary" style="background-color: #1ab394; border-radius: 4px; padding: 7px; text-align: center; width: 130px;">
                                Все площадки
                            </label>
                            <label class="btn-default" style="background-color: transparent; border-radius: 4px; color: #1ab394; font-weight: 500; padding: 7px; text-align: center; width: 130px;">
                                2 на выбор
                            </label>
                            <label class="btn-default" style="background-color: transparent; border-radius: 4px; color: #1ab394; font-weight: 500; padding: 7px; text-align: center; width: 130px;">
                                Без выгрузки
                            </label>
                        </div>
                        <div class="cut-off" style="text-align: center; margin-top: 15px;">
                            Заплатите за
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ctrl-block top-10">
                    <div class="col-md-4" style="padding: 10px;">
                        Хотите скидку?
                    </div>
                    <div class="col-md-8">
                        <div class="btn-group">
                            <label class="btn-primary" style="background-color: #1ab394; border-radius: 4px; padding: 7px; text-align: center; width: 130px;">
                                Квартал
                            </label>
                            <label class="btn-default" style="background-color: transparent; border-radius: 4px; color: #1ab394; font-weight: 500; padding: 7px; text-align: center; width: 130px;">
                                Полгода
                            </label>
                            <label class="btn-default" style="background-color: transparent; border-radius: 4px; color: #1ab394; font-weight: 500; padding: 7px; text-align: center; width: 130px;">
                                Год
                            </label>
                        </div>
                        <div class="icheckbox_square-green">
                            <input type="checkbox" />
                            Работаю в регионе
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div><!-- /.container -->
</section>
<script>
$(document).ready(function(){
  $('input').iCheck({
    checkboxClass: 'icheckbox_flat-green',
    radioClass: 'iradio_flat-green'
  });
});
</script>
<!-- /#testimonial -->
