<section class="feature-section" data-background="gray">
    <div class="section-padding3 cut-off"></div>

    <div id="feature3" class="container section-padding">
        <h1 class="section-title text-center text-uppercase wow fadeInUp" data-wow-delay="0.2s">варинаты приобретения<span> продукта</span></h1>
        <div class="stripe iconic wow fadeInUp" data-wow-delay="0.2s"></div>
        <div class="section-description text-center wow fadeInUp" data-wow-delay="0.5s">
            <div>С нашей системой вы сможете выстроить бизнес процесс работы с подборками <br/> и быстро решать главную задачу вашего бизнеса - находить покупателя для продавца.
            </div>

        </div><!-- /.section-description -->

        <div class="row top-padding-80">

            <div class="col-md-6 wow fadeInUp padding-0" data-wow-delay="0.8s">
                <div class="extra-padding">
                    <div class="pricing-plan">
                        <div class="head col-md-12">
                            <div class="price-pic">
                                <img src="/Content/assets/images/box-pack.png"/>
                            </div><!-- /.plan-name -->
                            <div class="col-md-12 plan-price" style="text-align: center; font-family: Intro;">
                                В КОРОБКЕ
                            </div><!-- /.plan-price -->
                        </div><!-- /.head -->
                        <div class="content top-10">
                            <ul class="plan-feature">
                                <div style="font-size: 12px; line-height: 20px; margin-bottom: 10px;">
                                    Коробочные CRM устанавливаются на личный сервер заказчика,
                                    заказчик имеет непосредственный доступ к базе данных и его
                                    данные хранятся изолированно от данных других компаний.
                                    Наша компания не имеет доступа к вашей базе.
                                </div>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Первые 3 месяца бесплатно
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Годовое обслуживания 30 000р
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Размещение на вашем сервере
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Страховка от «угона» базы <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;продавцов и покупателей
                                </li>
                            </ul><!-- /.plan-feature -->
                            <div class="price-warn">
                                <div class="col-md-1 warn-icon cut-off">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-11">
                                    При наличии этой версии вам необходим IT-специалист.
                                    Обновление коробочной версии осуществяется по вашему желанию,
                                    мы публикуем новую версию каждый месяц.Обновление осуществляется в один клик.
                                </div>

                            </div>

                        </div><!-- /.content -->
                        @*<div class="footer">
                            <a href="/home/userreg?price=2" class="aw-btn alt text-uppercase">get it</a>
                        </div>*@
                    </div><!-- /.pricing-plan -->
                </div><!-- /.extra-padding -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-6 wow fadeInUp padding-0" data-wow-delay="0.8s">
                <div class="extra-padding">
                    <div class="pricing-plan">
                        <div class="head col-md-12">
                            <div class="price-pic" style="padding-top: 50px;">
                                <img src="/Content/assets/images/cloud-pack.png"/>
                            </div><!-- /.plan-name -->
                            <div class="col-md-12 plan-price" style="text-align: center; font-family: Intro;">
                                Облачное
                            </div><!-- /.plan-price -->
                        </div><!-- /.head -->
                        <div class="content top-10">
                            <ul class="plan-feature">
                                <div style="font-size: 12px; line-height: 20px; margin-bottom: 10px;">
                                    Оплата в зависимости от количества сделок. В отличии от других компаний,
                                    мы будем брать с вас деньги не за количествао зарегистрированных агентов,
                                    а только за то где вы их реально получаете и где мы вам в этом помогаем.
                                </div>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Прозрачная схема работы с CRM
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Ваши сделки - наш прямой интерес
                                </li>
                                <div style="font-size: 12px; line-height: 20px; margin-bottom: 10px;">
                                    Также есть фиксированные план в зависимости от количества активных клиентов на текущий момент.
                                </div>
                                <li>
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    менее 10 <span>500 р/мес</span>
                                </li>
                                <li>
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    10 - 100 <span>1000 р/мес</span>
                                </li>
                                <li>
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    более 100 <span>5000 р/мес</span>
                                </li>

                            </ul><!-- /.plan-feature -->
                        </div><!-- /.content -->
                        @*<div class="footer">
                        <a href="/home/userreg?price=2" class="aw-btn alt text-uppercase">get it</a>
                    </div>*@
                    </div><!-- /.pricing-plan -->
                </div><!-- /.extra-padding -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /#feature -->
