<section id="feature3" class="feature-section section-padding" data-background="gray">
    <div class="container">
        <h1 class="section-title text-center text-uppercase wow fadeInUp" data-wow-delay="0.2s">Great Features<span> of our project</span></h1>
        <div class="stripe iconic wow fadeInUp" data-wow-delay="0.2s"></div>
        <div class="section-description text-center wow fadeInUp" data-wow-delay="0.5s">
            <div>Realtor can get rid of the routine and take his time to what will do not for any one program - <br/>human communication with customers.</div>
           
        </div><!-- /.section-description -->
        <div class="top-padding-80"></div>
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="feature-items style-3 right-icon list-style small top-padding-20">
                    <div class="item wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="content">
                            <h3 class="title">Objects Data Base</h3>
                            <div class="description">
                                All objects stored in one place.
                            </div>
                        </div>
                    </div><!-- /.item -->
                    <div class="item wow fadeInUp" data-wow-delay="0.6s">
                        <div class="icon">
                            <i class="fa fa-file-text-o"></i>
                        </div>
                        <div class="content">
                            <h3 class="title">Objects Selection</h3>
                            <div class="description">
                                Selection objects for customers and tenants / buyers for property owners.
                            </div>
                        </div>
                    </div><!-- /.item -->
                    <div class="item wow fadeInUp" data-wow-delay="0.7s">
                        <div class="icon">
                            <i class="fa fa-book"></i>
                        </div>
                        <div class="content">
                            <h3 class="title">Deals Control</h3>
                            <div class="description">
                                Control of all your calls, meetings and deals.
                            </div>
                        </div>
                    </div><!-- /.item -->
                </div><!-- /.feature-items -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 hidden-sm wow bounceIn" data-wow-delay="0.2s">
                <div>
                    <div class="middle-img">
                        <img class="img-responsive" src="/Content/assets/images/rieltor.png" alt="Application Twin Mocup">
                    </div>
                </div><!-- /.extra-padding -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6">
                <div class="feature-items style-3 left-icon list-style small top-padding-20">
                    <div class="item wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="content">
                            <h3 class="title">Making Report</h3>
                            <div class="description">
                                Makes report of done work.
                            </div>
                        </div>
                    </div><!-- /.item -->
                    <div class="item wow fadeInUp" data-wow-delay="0.6s">
                        <div class="icon">
                            <i class="fa fa-paper-plane-o"></i>
                        </div>
                        <div class="content">
                            <h3 class="title">Sending Offers </h3>
                            <div class="description">
                                Sends your commercial offers to customers.
                            </div>
                        </div>
                    </div><!-- /.item -->
                    <div class="item wow fadeInUp" data-wow-delay="0.7s">
                        <div class="icon">
                            <i class="fa fa-tasks"></i>
                        </div>
                        <div class="content">
                            <h3 class="title">Task Control</h3>
                            <div class="description">
                                Easy tracking of completed tasks
                            </div>
                        </div>
                    </div><!-- /.item -->
                </div><!-- /.feature-items -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /#feature -->
