<div id="preloader">
    <div id="loader">
        <div class="loader-inner ball-scale-multiple"><div></div><div></div><div></div></div>
    </div><!-- /#loader -->
</div><!-- /#preloader -->
<!-- Navigations
==============================-->
<nav id="navigation" class="navigation-style-2">
    <div class="container">
        <div class="nav-header">
            
            <div id="nav-socials">
                <a href="https://www.linkedin.com/in/dmgoncharov"><img src="/Content/assets/images/LinkedIn_Logo.png"/></a>
            </div>
            <div id="nav-trigger" class="nav-trigger style-2">
                <a href="#"><i class="fa fa-bars"></i></a>
            </div><!-- /#nav-trigger -->
        </div><!-- /.nav-header -->
        <ul class="site-navigation">
            @*<li><a href="#"><i class="fa fa-home"></i>Home</a></li>*@
            <li><a href="#feature3"><i class="fa fa-user"></i>About</a></li>
            <li><a href="#screenshots"><i class="fa fa-file-image-o"></i>Screenshots</a></li>
            <li><a href="#team"><i class="fa fa-file-image-o"></i>Team</a></li>
            @*<li><a href="#pricng"><i class="fa fa-file-image-o"></i>Price</a></li>*@
            <li><a href="#tech"><i class="fa fa-download"></i>Technologies</a></li>
            <li><a href="#contact"><i class="fa fa-file-image-o"></i>Contacts</a></li>
        </ul><!-- /.site-navigation -->
        <img class="logo-head cut-off" src="/Content/assets/images/logo/logo_01.png" />
    </div><!-- /.container -->
</nav><!-- /#navigation -->
<!-- Banner
==============================-->
<section id="banner" class="banner-section banner-two full-screen transparent" data-type="background" data-parallax="yes" data-src="/Content/assets/images/header-bg-01.jpg">
    <div class="overlay">
        @*<div>

            <div class="whiteblock1 cut-off"></div>
        </div>*@
        <div class="container">
            <div class="col-sm-6 z-index99 banner-middle-content">
                <div class="banner-content">

                    <h2 class="banner-title text-uppercase wow fadeIn" data-wow-delay="0.7s">business of relationships...</h2>
                    <div class="banner-description wow fadeIn" data-wow-delay="1.0s">
                        Realty is business of relationships with customers.
                        One thing when it's a dozen customers, and another thing when you have hundreds and thousands customers.
                        Our solution is RoboRealtor based Automation realty agency work.
                        It will help you to build effective relationships with your clients. We call this a collection
                        With our system you can build a business process, and quickly solve the main task of your business - to find a buyer for the seller.
                       <br/> Our system in development, for now we have a demo product.
                    </div>
                    <div class="action-buttons wow fadeIn" data-wow-delay="1.3s">
                        <a href="http://demo.roborealtor.ru/" class="aw-btn text-uppercase">Try project</a>
                    </div><!-- /.action-buttons -->
                </div><!-- /.banner-content -->
            </div><!-- /.col-sm-6 -->
            <div class="col-sm-12 opacity-1 hidden-xs wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                <div class="application-mockup">
                    <img class="banner-image-2" src="/Content/assets/images/Apple-Pro.png" alt="Application Mockup">
                </div><!-- /.application-mockup -->
            </div><!-- /.col-sm-12 -->
        </div><!-- /.container -->

    </div><!-- /.overlay -->
</section><!-- /#banner -->
