<div id="preloader">
    <div id="loader">
        <div class="loader-inner ball-scale-multiple"><div></div><div></div><div></div></div>
    </div><!-- /#loader -->
</div><!-- /#preloader -->
<!-- Navigations
==============================-->
<nav id="navigation" class="navigation-style-2">
    <div class="container">
        <div class="col-md-12">
            <div class="logo-icon-lion cut-off">
                <img src="/Content/assets/images/logo/logo-lion.png" />
            </div>
            <div class="col-md-11 container">
                <div class="nav-header">

                    @*<div id="nav-socials">
                    <a href="https://www.linkedin.com/in/dmgoncharov"><img src="/Content/assets/images/LinkedIn_Logo.png"/></a>
                </div>*@
                    <div id="nav-trigger" class="nav-trigger style-2">
                        <a href="#"><i class="fa fa-bars"></i></a>
                    </div><!-- /#nav-trigger -->
                </div><!-- /.nav-header -->
                <ul class="site-navigation">
                    <li><a href="#banner"><i class="fa fa-user"></i>Начало</a></li>
                    <li><a href="#feature3"><i class="fa fa-file-image-o"></i>Варианты приобретения</a></li>
                    <li><a href="#system"><i class="fa fa-file-image-o"></i>Приемущества</a></li>
                    <li><a href="#video"><i class="fa fa-download"></i>Функции</a></li>
                    <li><a href="#counter"><i class="fa fa-file-image-o"></i>Стоимость</a></li>
                    <li><a href="#contact"><i class="fa fa-file-image-o"></i>Контакты</a></li>
                </ul><!-- /.site-navigation -->


            </div><!-- /.container -->
        </div>
        
    </div>
    

</nav><!-- /#navigation -->
<!-- Banner
==============================-->
<section id="banner" class="banner-section banner-two transparent" style="height: 650px;" data-type="background" data-parallax="yes" data-src="/Content/assets/images/header-bg-01.jpg">
    <div class="">
        @*<div>

            <div class="whiteblock1 cut-off"></div>
        </div>*@
        <div class="container">
            <div class="col-sm-6 z-index99 banner-middle-content">
                <div class="banner-content">

                    <h2 class="banner-title text-uppercase wow fadeIn" data-wow-delay="0.7s">Автоматизация работы агентства недвижимости</h2>
                    <div class="banner-description wow fadeIn" data-wow-delay="1.0s">
                        Риелторский бизнес — прежде всего бизнес отношений... взаимоотношений с клиентами. Одно дело, когда клиентов с десяток, другое дело, когда их счет идет на сотни и тысячи.
                        Мы предлагаем решение, с помощью которого вы сможете удобно вести отношения между продавцом и покупателем. Мы называем это подборками.

                        <br/> 
                       <br/>Наша система находится в стадии разработки, на текущий момент вам доступна Demo версия продукта
                    </div>
                    <div class="action-buttons">
                        <a class="aw-btn text-uppercase" href="#">Запустить</a>
                    </div>
                    </div><!-- /.banner-content -->
            </div><!-- /.col-sm-6 -->
            <div class="opacity-1 hidden-xs wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                <div class="application-mockup">
                    <img class="banner-image-2" src="/Content/assets/images/laptop.png" alt="Application Mockup">
                </div><!-- /.application-mockup -->

            </div><!-- /.col-sm-12 -->
            
        </div><!-- /.container -->

    </div><!-- /.overlay -->
</section><!-- /#banner -->
