<!-- Footer
 ==============================-->
<section id="footer" class="footer-section">
    <div class="container">
        <p class="copyright-info text-center">Copyright &copy; 2016 <a href="#">Nousware</a> All Rights Reserves.</p><!-- /.copyright-info -->
    </div><!-- /.container -->
</section><!-- /#footer -->
