<div id="preloader">
    <div id="loader">
        <div class="loader-inner ball-scale-multiple"><div></div><div></div><div></div></div>
    </div><!-- /#loader -->
</div><!-- /#preloader -->
<!-- Navigations
==============================-->
<nav id="navigation" class="navigation-style-2">
    <div class="container">
        <div class="nav-header">

            <div id="nav-socials">
                <a href="https://www.linkedin.com/in/dmgoncharov"><img src="/Content/assets/images/LinkedIn_Logo.png"/></a>
            </div>
            <div id="nav-trigger" class="nav-trigger style-2">
                <a href="#"><i class="fa fa-bars"></i></a>
            </div><!-- /#nav-trigger -->
        </div><!-- /.nav-header -->
        <ul class="site-navigation">
            @*<li><a href="#"><i class="fa fa-home"></i>Home</a></li>*@
            <li><a href="#feature2"><i class="fa fa-user"></i>About</a></li>
            <li><a href="#tech"><i class="fa fa-download"></i>Technologies</a></li>
            <li><a href="#team"><i class="fa fa-file-image-o"></i>Team</a></li>
            @*<li><a href="#screenshots"><i class="fa fa-file-image-o"></i>Screenshots</a></li>*@
            <li><a href="#pricng"><i class="fa fa-file-image-o"></i>Price</a></li>
            <li><a href="#contact"><i class="fa fa-file-image-o"></i>Contacts</a></li>
        </ul><!-- /.site-navigation -->
    </div><!-- /.container -->
</nav><!-- /#navigation -->
<!-- Banner
==============================-->
<section id="banner" class="banner-section banner-two full-screen transparent" data-type="background" data-parallax="yes" data-src="/Content/assets/images/header-bg.jpg">
    <div class="overlay">
        <div class="container">
            <div class="col-sm-6 col-xs-6 banner-middle-content">
                <div class="banner-content">
                    <img class="icon-center wow fadeIn" src="/Content/assets/images/logo/logo.png"> </img>
                    <h2 class="banner-title text-uppercase wow fadeIn" data-wow-delay="0.7s">
                        We Work best
                        <div>
                            because know trade</div>
                    </h2>
                    <div class="cut-off overflow-hidden top-padding-20 wow fadeIn" data-wow-delay="1.0s">
                        <div class="col-sm-4 padding-0">
                            <img src="/Content/assets/images/icon_laptop.png"/>
                            <div>WEB APPS & SOFTWARE</div>
                        </div>
                        <div class="col-sm-4 padding-0">
                            <img src="/Content/assets/images/icon_mobile.png"/>
                            <div>MOBILE APPS</div>
                        </div>
                        <div class="col-sm-4 padding-0">
                            <img src="/Content/assets/images/icon_analytics.png"/>
                            <div>ANALYTICS</div>
                        </div>
                    </div>
                   
                    <div class="banner-description wow fadeIn top-padding-30" data-wow-delay="1.0s">
                        Nousware specializes in business software, web, mobile development and information technology services integration.
                        High level of our team competence is the basic component of our company’s strategy.

                    </div>
                    <div class="action-buttons wow fadeIn" data-wow-delay="1.3s">
                        <a href="#pricng" class="aw-btn text-uppercase">Get Us</a>
                    </div><!-- /.action-buttons -->
                </div><!-- /.banner-content -->
            </div><!-- /.col-sm-6 -->

        </div><!-- /.container -->
    </div><!-- /.overlay -->
</section><!-- /#banner -->
