<!-- Logos
 ==============================-->
<section id="payment" class="clients-logo-section" data-background="gray">
    <div class="container">
        <div class="logo-items">
            <div style="float: right; margin-bottom: 10px;">
                <div class="contacts-forms wow fadeInRight">
                    <input class="form-contacts" placeholder="Ваше имя"/>
                </div>
                <div class="contacts-forms wow fadeInRight">
                    <input class="form-contacts" placeholder="Номер телефона"/>
                </div>
                <div class="contacts-forms wow fadeInRight">
                    <input class="form-contacts" placeholder="E-MAIL адрес"/>
                </div>
            </div>
        </div><!-- /.logo-items -->
        <div class="logo-items">
            <div style="float: right; margin-bottom: 20px;">
                <div class="item wow fadeInRight" style="animation-name: fadeInRight; font-family: intro; font-size: 38px; padding: 7px; visibility: visible; vertical-align: middle; display: inline-block;">
                    0 <span style="font-size: 22px; padding-right: 10px; vertical-align: top;"><i class="fa fa-rub" aria-hidden="true"></i></span>

                </div>
                <div class="item wow fadeInRight" style="display: inline-block; margin-right: 5px;">
                    <div class="action-buttons btn-label-cent">
                        <a class="aw-btn btn-buy text-uppercase" href="#">КУПИТЬ</a>
                    </div>
                </div>
            </div>

        </div><!-- /.logo-items -->
    </div><!-- /.container -->


</section><!-- /#logo -->
