<!-- Pricing
==============================-->
<section id="pricng" class="pricing-section section-padding" data-background="gray">
    <div class="container">
        <h1 class="section-title text-uppercase text-center wow fadeInUp" data-wow-delay="0.2s">Great <span>Pricing Plan</span></h1>
        <div class="stripe iconic wow fadeInUp" data-wow-delay="0.2s"></div>
        <div class="section-description text-center wow fadeInUp" data-wow-delay="0.5s">
           
        </div><!-- /.section-description -->
        <div class="row top-padding-80">

            <div class="col-md-3 wow fadeInUp padding-0" data-wow-delay="0.8s">
                <div class="extra-padding">
                    <div class="pricing-plan">
                        <div class="head">
                            <div class="plan-name">
                                Easy
                            </div><!-- /.plan-name -->
                            <div class="plan-price">
                                <span class="currency">€</span>
                                990
                            </div><!-- /.plan-price -->
                        </div><!-- /.head -->
                        <div class="content">
                            <ul class="plan-feature">
                                <li>
                                    <i class="fa fa-check"></i>
                                    Developer p/p 40h/week
                                </li>
                                <li class="disable">
                                    <i class="fa fa-close"></i>
                                    Designer p/p 20h/week
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    5h PM - sprint
                                </li>
                                <li class="disable">
                                    <i class="fa fa-close"></i>
                                    Front-end 40h
                                </li>
                                <li class="disable">
                                    <i class="fa fa-close"></i>
                                    Back-end 40h
                                </li>
                                <li class="disable">
                                    <i class="fa fa-close"></i>
                                    Business testing 10h/week
                                </li>
                            </ul><!-- /.plan-feature -->
                        </div><!-- /.content -->
                        <div class="footer">
                            <a href="/home/userreg?price=2" class="aw-btn alt text-uppercase">get it</a>
                        </div><!-- /.footer -->
                    </div><!-- /.pricing-plan -->
                </div><!-- /.extra-padding -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-3 wow fadeInUp padding-0" data-wow-delay="0.9s">
                <div class="extra-padding">
                    <div class="pricing-plan active">
                        <div class="head">
                            <div class="plan-name">
                                Medium
                            </div><!-- /.plan-name -->
                            <div class="plan-price">
                                <span class="currency">€</span>
                                1190
                            </div><!-- /.plan-price -->
                        </div><!-- /.head -->
                        <div class="content">
                            <ul class="plan-feature">
                                <li>
                                    <i class="fa fa-check"></i>
                                    Developer p/p 40h/week
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Designer p/p 20h/week
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    5h PM - sprint
                                </li>
                                <li class="disable">
                                    <i class="fa fa-close"></i>
                                    Front-end 40h
                                </li>
                                <li class="disable">
                                    <i class="fa fa-close"></i>
                                    Back-end 40h
                                </li>
                                <li class="disable">
                                    <i class="fa fa-close"></i>
                                    Business testing 10h/week
                                </li>
                            </ul><!-- /.plan-feature -->
                        </div><!-- /.content -->
                        <div class="footer">
                            <a href="/home/userreg?price=2" class="aw-btn alt text-uppercase">get it</a>
                        </div><!-- /.footer -->
                    </div><!-- /.pricing-plan -->
                </div><!-- /.extra-padding -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-3 wow fadeInUp padding-0" data-wow-delay="1.0s">
                <div class="extra-padding">
                    <div class="pricing-plan active">
                        <div class="head">
                            <div class="plan-name">
                                Full Set
                            </div><!-- /.plan-name -->
                            <div class="plan-price">
                                <span class="currency">€</span>
                                1990
                            </div><!-- /.plan-price -->
                        </div><!-- /.head -->
                        <div class="content">
                            <ul class="plan-feature">
                                <li class="disable">
                                    <i class="fa fa-check"></i>
                                    Developer p/p 40h/week
                                </li>
                                <li class="disable">
                                    <i class="fa fa-check"></i>
                                    Designer p/p 20h/week
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    5h PM - sprint
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Front-end 40h
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Back-end 40h
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Business testing 10h/week
                                </li>
                            </ul><!-- /.plan-feature -->
                        </div><!-- /.content -->
                        <div class="footer">
                            <a href="/home/userreg?price=2" class="aw-btn alt text-uppercase">get it</a>
                        </div><!-- /.footer -->
                    </div><!-- /.pricing-plan -->
                </div><!-- /.extra-padding -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-3 wow fadeInUp padding-0" data-wow-delay="1.0s">
                <div class="extra-padding">
                    <div class="pricing-plan">
                        <div class="head">
                            <div class="plan-name">
                                Custom
                            </div><!-- /.plan-name -->
                            <div class="plan-price">
                                <span class="currency"></span>
                                
                            </div><!-- /.plan-price -->
                        </div><!-- /.head -->
                        <div class="content">
                            <ul class="plan-feature">
                                <li class="disable">
                                    <i class="fa fa-check"></i>
                                    Developer p/p 40h/week
                                </li>
                                <li class="disable">
                                    <i class="fa fa-check"></i>
                                    Designer p/p 20h/week
                                </li>
                                <li class="disable">
                                    <i class="fa fa-check"></i>
                                    5h PM - sprint
                                </li>
                                <li class="disable">
                                    <i class="fa fa-check"></i>
                                    Front-end 40h
                                </li>
                                <li class="disable">
                                    <i class="fa fa-check"></i>
                                    Back-end 40h
                                </li>
                                <li class="disable">
                                    <i class="fa fa-check"></i>
                                    Business testing 10h/week
                                </li>
                            </ul><!-- /.plan-feature -->
                        </div><!-- /.content -->
                        <div class="footer">
                            <a href="/home/userreg?price=2" class="aw-btn alt text-uppercase">get it</a>
                        </div><!-- /.footer -->
                    </div><!-- /.pricing-plan -->
                </div><!-- /.extra-padding -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /#pricng -->
