<!-- Screenshot
  ==============================-->
<section id="screenshots" class="screenshot-section section-padding">
    <div class="container">

        <h1 class="section-title text-center text-uppercase wow fadeInUp" data-wow-delay="0.2s">Some screenshots <span>of our project</span></h1>
        <div class="stripe iconic wow fadeInUp" data-wow-delay="0.2s"></div>
        <div class="section-description text-center wow fadeInUp" data-wow-delay="0.5s">
            <div>We are proud of our project. We put our clients’ needs above everything else<br/>
            and provide them with high-quality and performed service.</div>
        </div><!-- /.section-description -->
        <div id="screenshots-carousel" class="screenshots-carousel top-padding-80 wow fadeIn" data-wow-delay="0.8s" data-screenshot="carousel">

            <div id="screenshots-carousel-content" class="swiper-container" data-carousel="content">
                <div class="swiper-wrapper">
                    <div class="swiper-slide screenshot-item">
                        <img src="/content/assets/images/screenshots/screenshot-1.jpg" alt="Screenshots 1">
                        <a href="/content/assets/images/screenshots/screenshot-1.jpg" class="zoom-overlay" data-lightbox="yes">
                            <i class="plus-sign"></i>
                        </a>
                    </div>
                    <div class="swiper-slide screenshot-item">
                        <img src="/content/assets/images/screenshots/screenshot-2.jpg" alt="Screenshots 2">
                        <a href="/content/assets/images/screenshots/screenshot-2.jpg" class="zoom-overlay" data-lightbox="yes">
                            <i class="plus-sign"></i>
                        </a>
                    </div>
                    <div class="swiper-slide screenshot-item">
                        <img src="/content/assets/images/screenshots/screenshot-3.jpg" alt="Screenshots 3">
                        <a href="/content/assets/images/screenshots/screenshot-3.jpg" class="zoom-overlay" data-lightbox="yes">
                            <i class="plus-sign"></i>
                        </a>
                    </div>
                    <div class="swiper-slide screenshot-item">
                        <img src="/content/assets/images/screenshots/screenshot-4.jpg" alt="Screenshots 4">
                        <a href="/content/assets/images/screenshots/screenshot-4.jpg" class="zoom-overlay" data-lightbox="yes">
                            <i class="plus-sign"></i>
                        </a>
                    </div>
                    <div class="swiper-slide screenshot-item">
                        <img src="/content/assets/images/screenshots/screenshot-5.jpg" alt="Screenshots 5">
                        <a href="/content/assets/images/screenshots/screenshot-5.jpg" class="zoom-overlay" data-lightbox="yes">
                            <i class="plus-sign"></i>
                        </a>
                    </div>
                    <div class="swiper-slide screenshot-item">
                        <img src="/content/assets/images/screenshots/screenshot-6.jpg" alt="Screenshots 6">
                        <a href="/content/assets/images/screenshots/screenshot-6.jpg" class="zoom-overlay" data-lightbox="yes">
                            <i class="plus-sign"></i>
                        </a>
                    </div>
                   
                </div><!-- /.swiper-wrapper -->
            </div><!-- /.swiper-container -->
            <!-- Carousel Pagination -->
            <div id="screenshots-carousel-pagination" class="bullet-pagination" data-carousel="pagination"></div>
            <!-- Carousel Navigation -->
            <div id="screenshots-carousel-nav-prev" class="arrow-control prev cut-off" data-carousel="prev"></div>
            <div id="screenshots-carousel-nav-next" class="arrow-control next cut-off" data-carousel="next"></div>
        </div><!-- /#screenshots-carousel -->
    </div><!-- /.container -->
</section><!-- /#screenshots -->
