<section id="feature2" class="feature-section section-padding" data-background="gray">
    <div class="container">
        <h1 class="section-title text-center text-uppercase wow fadeInUp" data-wow-delay="0.2s">Easy way to <span>make it work</span></h1>
        <div class="stripe iconic wow fadeInUp" data-wow-delay="0.2s"></div>
        <div class="section-description text-center wow fadeInUp" data-wow-delay="0.5s">
            <div> We create really completed projects with real references and working demos. </div>
            <div> We offer you high-quality solutions to all your requests and meet the deadlines.</div>
            
          

        </div><!-- /.section-description -->
        <div class="feature-items style-3 top-padding-50">
            <div class="row">
                <div class="col-md-6">
                    <div class="item wow fadeInUp" data-wow-delay="0.8s">
                            <img class="icon-center" src="/Content/assets/images/icon_new.png"> </img>
                        <div class="content padding-60">
                            <h3 class="title">New project</h3>
                            <div class="description">
                                Our first-rate software developers will help you to create new web projects or Android,
                                IOS and Windows applications for you business according to your requirements.
                                They also provide you with admin area. And our highly skilled web designer will create
                                unique and exciting front-end design of your web project and amazing mobile-based design for your applications.
                                <br/>
                                Complete cycle of project work
                            </div>
                        </div>
                    </div><!-- /.item -->
                </div><!-- /.col-md-4 -->

                <div class="col-md-6">
                    <div class="item wow fadeInUp" data-wow-delay="1.1s">
                        <img class="icon-center" src="/Content/assets/images/icon_exist.png"> </img>
                        <div class="content padding-60">
                            <h3 class="title">Existing product</h3>
                            <div class="description">
                                Software reengineering (programming upgrade, software completion)
                                Sometimes your business strategy includes retooling your existing software to meet the needs of the times.
                                Reengineering is profitable and successful solution because you don’t need to create
                                something new; you just need to bring some changes in your excited software.
                                We can help you to save your money and time.
                            </div>
                        </div>
                    </div><!-- /.item -->
                </div><!-- /.col-md-4 -->

             
            </div><!-- /.row -->
        </div><!-- /.feature-items -->
    </div><!-- /.container -->
</section><!-- /#feature -->
