<!-- Screenshot
  ==============================-->
<section id="system" class="screenshot-section section-padding" style="background-color: #1d252e;">
    <div class="container">

        <h1 class="section-title section-title-1 text-center text-uppercase wow fadeInUp" data-wow-delay="0.2s">приемущество <span>системы</span></h1>

        <div class="section-description section-description-1 text-center wow fadeInUp" data-wow-delay="0.5s">
            <div>С нашей системой вы сможете выстроить бизнес процесс работы с подборками <br/> и быстро решать главную задачу вашего бизнеса - находить покупателя для продавца.</div>
        </div><!-- /.section-description -->
        <div class="row top-padding-80">

            <div class="col-md-6 wow fadeInUp padding-0" data-wow-delay="0.8s">
                <div class="extra-padding">
                    <div class="pricing-plan sys-width-1">
                        <div class="head col-md-12">
                            <div class="system-pic">
                                <img src="/Content/assets/images/system-01.png" />
                            </div><!-- /.plan-name -->

                        </div><!-- /.head -->
                        <div class="col-md-12 top-10">
                                <div class="sys-desc">
                                    Вы ведете свою базу<br/> продавцов и покупателей
                                </div>
                        </div><!-- /.content -->
                        @*<div class="footer">
                            <a href="/home/userreg?price=2" class="aw-btn alt text-uppercase">get it</a>
                        </div>*@
                    </div><!-- /.pricing-plan -->
                </div><!-- /.extra-padding -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-6 wow fadeInUp padding-0" data-wow-delay="0.8s">
                <div class="extra-padding">
                    <div class="pricing-plan sys-width">
                        <div class="head col-md-12">
                            <div class="system-pic">
                                <img src="/Content/assets/images/system-02.png" />
                            </div><!-- /.plan-name -->

                        </div><!-- /.head -->
                        <div class="col-md-12 top-10">
                            <div class="sys-desc">
                                Наша система формирует пары,<br/> которые могут дать сделку
                            </div>
                        </div><!-- /.content -->
                        @*<div class="footer">
                        <a href="/home/userreg?price=2" class="aw-btn alt text-uppercase">get it</a>
                    </div>*@
                    </div><!-- /.pricing-plan -->
                </div><!-- /.extra-padding -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-12 wow fadeInUp " data-wow-delay="0.8s">
                <div class="extra-padding">
                    <div class="pricing-plan sys-width-2">
                        <div class="head col-md-12">
                            <div class="system-pic" style="height: auto;">
                                <img src="/Content/assets/images/system-03.png" />
                            </div><!-- /.plan-name -->

                        </div><!-- /.head -->
                        <div class="col-md-12 top-10">
                            <div class="sys-desc">
                                Например агент А занимается покупателем Петей, агент Б<br/>
                                занимается продавцом Васей. Если Вася подходит Пете, агент А<br/>
                                и агент Б получат задачи на обработку этой потенциальной сделки.
                            </div>
                        </div><!-- /.content -->
                        @*<div class="footer">
                        <a href="/home/userreg?price=2" class="aw-btn alt text-uppercase">get it</a>
                    </div>*@
                    </div><!-- /.pricing-plan -->
                </div><!-- /.extra-padding -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-12 wow fadeInUp">
                <div class="sys-warn">
                    <div class="col-md-6">
                        Мы предлагаем бизнес процесс ведения сделок между продавцами и покупателями начиная
                        с подборки заканчивая подписанием контракта. Для того, чтобы все это работало, вашим
                        агентам нужно детально описывать пожелания продавцов и покупателей. Вы можете добавлять
                        на формы дополнительные критерии поиска, наша система может быть настроена под любое агенство
                    </div>
                    <div class="col-md-6">
                        недвижимости. Не вам нужно будет подстраиваться, а система будет настроена под вас.
                        Процесс настройки интуитивно понятен и вы сможете сами этим заняться без привлечения
                        IT-специалистов.
                        <br/> <br/> Пройдите тест драйв, попробуйте сами
                        <div class="action-buttons btn-label-cent" style="margin-top: 15px;">
                            <a class="aw-btn btn-buy text-uppercase" href="#">запустить</a>
                        </div>
                    </div>
                   
                </div>
            </div>
        
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /#screenshots -->
