<section id="team" class="team-section section-padding" data-background="gray">
    <div class="container">

        <h1 class="section-title text-center text-uppercase wow fadeInUp" data-wow-delay="0.2s">Our Expert Team <span>Members</span></h1>
        <div class="stripe iconic wow fadeInUp" data-wow-delay="0.2s"></div>
        <div class="section-description text-center wow fadeInUp padding-50" data-wow-delay="0.5s">
            <div>Our team of first-rate software developers and web designers works with the latest technologies </div>
        <div>and demonstrates a high level of competency in software, mobile, web development and IT-integration.</div>
        </div><!-- /.section-description -->
        <div class="row team-members top-padding-80">
            <div class="col-md-20p col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
                <div class="member-profile">

                    <div class="member-image">
                        <img src="/content/assets/images/members/dima.jpg" alt="Dmitry Goncharov">
                    </div><!-- /.member-image -->
                    <div class="member-info">
                        <h4 class="member-name">Dmitry Goncharov</h4>
                        <div class="member-role">DIRECTOR</div>
                    </div><!-- /.member-info -->
                    <div class="member-social fa-2x">
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-envelope-o"></i></a>
                    </div><!-- /.member-social -->
                </div><!-- /.member-profile -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-20p col-sm-6 wow fadeInUp" data-wow-delay="0.9s">
                <div class="member-profile">

                    <div class="member-image">
                        <img src="/content/assets/images/members/misha.jpg" alt="Michail Serov">
                    </div><!-- /.member-image -->
                    <div class="member-info">
                        <h4 class="member-name">Michail Serov</h4>
                        <div class="member-role">DEVELOPER</div>
                    </div><!-- /.member-info -->
                    <div class="member-social fa-2x">
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-envelope-o"></i></a>
                    </div><!-- /.member-social -->
                </div><!-- /.member-profile -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-20p col-sm-6 wow fadeInUp" data-wow-delay="1.0s">
                <div class="member-profile">

                    <div class="member-image">
                        <img src="/content/assets/images/members/ramil.jpg" alt="Ramil Hazeev">
                    </div><!-- /.member-image -->
                    <div class="member-info">
                        <h4 class="member-name">Ramil Hazeev</h4>
                        <div class="member-role">DEVELOPER</div>
                    </div><!-- /.member-info -->
                    <div class="member-social fa-2x">
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-envelope-o"></i></a>
                    </div><!-- /.member-social -->
                </div><!-- /.member-profile -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-20p col-sm-6 wow fadeInUp" data-wow-delay="1.1s">
                <div class="member-profile">

                    <div class="member-image">
                        <img src="/content/assets/images/members/denis.jpg" alt="Denis Balabanov">
                    </div><!-- /.member-image -->
                    <div class="member-info">
                        <h4 class="member-name">Denis Balabanov</h4>
                        <div class="member-role">DEVELOPER</div>
                    </div><!-- /.member-info -->
                    <div class="member-social fa-2x">
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-envelope-o"></i></a>
                    </div><!-- /.member-social -->
                </div><!-- /.member-profile -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-20p col-sm-6 wow fadeInUp" data-wow-delay="1.2s">
                <div class="member-profile">

                    <div class="member-image">
                        <img src="/content/assets/images/members/eugene.jpg" alt="Eugeny Ivanov">
                    </div><!-- /.member-image -->
                    <div class="member-info">
                        <h4 class="member-name">Eugeny Ivanov</h4>
                        <div class="member-role">DESIGNER</div>
                    </div><!-- /.member-info -->
                    <div class="member-social fa-2x">
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-envelope-o"></i></a>
                    </div><!-- /.member-social -->
                </div><!-- /.member-profile -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /#team -->
