<!-- Testimonial 2
 ==============================-->
<section id="tech" class="pricing-section section-padding" data-background="white">
    <div class="container">
        <h1 class="section-title text-uppercase text-center wow fadeInUp" data-wow-delay="0.2s">Our technology <span>and methodology</span></h1>
        <div class="stripe wow fadeInUp" data-wow-delay="0.2s"></div>
        <div class="section-description text-center wow fadeInUp" data-wow-delay="0.5s">
            
        </div><!-- /.section-description -->
        <div class="row top-padding-80">

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.8s">
                <div class="extra-padding">
                    <div class="transparent-bg pricing-plan padding-30">
                        <div class="head">
                            <img class="icon-center" src="/Content/assets/images/icon-TDD.png"> </img>
                        </div>
                    </div>
                    <div class="arrow-down"> </div>
                    <div class="member-info text-center">
                        <h2 class="member-name">TEST-DRIVEN DEVELOPMENT</h2>
                        <div class="description">Test-driven development TDD is an evolutionary approach to software development
                            combining test-first development and refactoring. It is both an important agile requirement
                            and agile design technique. TDD provides to consider the requirements or design before writing
                            the functional code. The main advantage of this approach is that TDD ensures to write clean code that really works.
                        </div>
                    </div><!-- /.member-info -->
                </div>
                </div><!-- /.extra-padding -->
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.8s">
                <div class="extra-padding">
                    <div class="transparent-bg pricing-plan padding-30 ">
                        <div class="head">
                            <img class="icon-center" src="/Content/assets/images/icon-AGILE.png"> </img>
                        </div>
                    </div>
                    <div class="arrow-down"></div>
                    <div class="member-info text-center">
                        <h2 class="member-name">AGILE SOFTWARE DEVELOPMENT</h2>
                        <div class="description"> Agile is an iterative approach to software development. Agile methods ensure to minimize risks,
                            improve the services and accelerate the process of software development. What is more, agile development
                            offers to you a visibility into the actual progress of projects. As a result, you get a software system
                            that complied strictly with the business and your needs.
                        </div>
                    </div>
                </div><!-- /.member-info -->
                </div><!-- /.extra-padding -->
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.8s">
                <div class="extra-padding">
                    <div class="transparent-bg pricing-plan padding-30">
                        <div class="head">
                            <img class="icon-center" src="/Content/assets/images/icon-DDD.png"> </img>
                        </div>
                    </div>
                    <div class="arrow-down"></div>
                    <div class="member-info text-center">
                        <h2 class="member-name">DESIGN-DRIVEN DEVELOPMENT</h2>
                        <div class="description">D3 is an agile-based approach to software development. It brings innovations and
                            allows us to build beautiful, elegant and groundbreaking solutions. D3 is founded
                            on the agile principles, including continuous delivery of software,
                            cooperation and simplicity. It works closely with other agile-based
                            approaches such as SCRUM and Extreme Programming.
                        </div>
                    </div>
                </div><!-- /.member-info -->
            </div><!-- /.extra-padding -->

            </div><!-- /.row -->
            <div class="top-padding-30 wow fadeInUp" data-wow-delay="0.8s"> <img class="icon-center" src="/Content/assets/images/process_steps.png"/></div>
    </div><!-- /.container -->
</section>
<!-- /#testimonial -->
