<section id="video" class="newsletter-section transparent" data-background="gray">
    <div class="section-padding">
        <div class="container">

            <h1 class="section-title text-center text-uppercase wow fadeInUp" data-wow-delay="0.2s">функции <span>ROBOREALTOR CRM</span></h1>
            <div class="stripe iconic wow fadeInUp" data-wow-delay="0.2s"></div>
            <div class="section-description text-center wow fadeInUp padding-50" data-wow-delay="0.5s">
                <div>С нашей системой вы сможете выстроить бизнес процесс работы с подборками<br/> и быстро решать главную задачу вашего бизнеса - находить покупателя для продавца.
                </div>
            </div><!-- /.section-description -->
            <div class="col-md-12 wow fadeInUp" style="margin-top: 40px;">
                <div class="video-flex">
                    <iframe src="https://player.vimeo.com/video/170745803?color=000000&title=0&byline=0&portrait=0" width="880" height="495" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>

            </div>

            <div class="col-md-12 wow fadeInUp cut-off padding-0" data-wow-delay="0.8s">
                <div class="video-warn">
                    <div>
                        <div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="plan-feature">
                                <div class="row top-10">
                                    <div class="col-md-1 col-xs-1 video-check">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-11 col-xs-10 ">
                                        Встроенное управление задачами, распределение задач между сотрудниками агентства и контроль их выполнения
                                    </div>
                                </div>
                                <div class="row top-10">
                                    <div class="col-md-1 col-xs-1 video-check">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-11 col-xs-10">
                                        Возможность импорта вашей базы объектов недвижимости в CRM-систему
                                    </div>
                                </div>
                                <div class="row top-10">
                                    <div class="col-md-1 col-xs-1 video-check">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-11 col-xs-10">
                                        Учет привлеченных объектов недвижимости (с указанием даты, имени агента, характеристик объекта, его статуса)
                                    </div>
                                </div>
                                <div class="row top-10">
                                    <div class="col-md-1 col-xs-1 video-check">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-11 col-xs-10">
                                        Возможность ведения картотеки объектов конкурентов, партнеров или собственников
                                    </div>
                                </div>
                                <div class="row top-10">
                                    <div class="col-md-1 col-xs-1 video-check">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-11 col-xs-10">
                                        Учет привлеченных клиентов и всей активности по ним (дата, имя, ход работы, результаты встреч, реакции на показы, комментарии)
                                    </div>
                                </div>
                                <div class="row top-10">
                                    <div class="col-md-1 col-xs-1 video-check">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-11 col-xs-10">
                                        Управление информацией о собственниках помещений и принадлежащих им объектах
                                    </div>
                                </div>
                                <div class="row top-10">
                                    <div class="col-md-1 col-xs-1 video-check">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-11 col-xs-10">
                                        Система автоматически сводит представителей продавцов и покупателей на основании их предпочтений
                                    </div>
                                </div>
                                <div class="row top-10">
                                    <div class="col-md-1 col-xs-1 video-check">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-11 col-xs-10">
                                        При отсутствии активности по какой-либо заявке или объекту (например, в течение недели) система уведомляет об этом руководителей агентства
                                    </div>
                                </div>

                                <div class="row top-10">
                                    <div class="col-md-1 col-xs-1 video-check">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-11 col-xs-10">
                                        Объекты, по которым сделка завершена - переносятся в архив
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.extra-padding -->
                        <div class="col-md-6">
                            <div class="plan-feature">
                                <div class="row top-10">
                                    <div class="col-md-1 col-xs-1 video-check">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-11 col-xs-10">
                                        Возможность, с согласия начальника, заблокировать объект по которому назревает подписание договора, после чего объект не показывается другим клиентам
                                    </div>
                                </div>
                                <div class="row top-10">
                                    <div class="col-md-1 col-xs-1 video-check">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-11 col-xs-10">
                                        Возможность загрузки своего логотипа в интерфейс системы, в карточки объектов для печати и на ваш бесплатный веб-сайт
                                    </div>
                                </div>
                                <div class="row top-10">
                                    <div class="col-md-1 col-xs-1 video-check">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-11 col-xs-10">
                                        Календарь событий сроков выполнения задач, интегрированный в Google Calendar что дает возможность легко синхронизировать его с мобильными устройствами
                                    </div>
                                </div>
                                <div class="row top-10">
                                    <div class="col-md-1 col-xs-1 video-check">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-11 col-xs-10">
                                        Оптимальные настройки прав доступа: агенты (брокеры) могут просматривать все объекты, но видят контакты только своих клиентов и собственников, руководитель отдела видит всю информацию только в рамках своего отдела, руководитель агентства недвижимости может видеть и редактировать любую информацию
                                    </div>
                                </div>
                                <div class="row top-10">
                                    <div class="col-md-1 col-xs-1 video-check">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-11 col-xs-10">
                                        CRM корректно работает в мобильных устройствах таких как iPhone, iPad и устройствах под управлением Android. Агент может сфотографировать объект на мобильный и сразу же добавить фото в CRM к описанию объекта или зафиксировать реакцию на просмотр объекта клиентом прямо на месте просмотра.
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.extra-padding -->
                    </div>
                    
                </div>
                <div class="action-buttons btn-label-cent">
                    <a class="aw-btn btn-label text-uppercase" style="margin: 0 auto;" href="#">Запустить</a>
                </div>
            </div><!-- /.col-md-4 -->

            
        </div><!-- /.container -->
    </div><!-- /.overlay -->
</section><!-- /#newsletter -->
